table {
  position: relative;
  border-collapse: separate;
  border-spacing: 0;
}

table, th, td {
    border: 1px solid grey;
  }

  th, td {
    padding: 0.25rem;
  }

tbody {
  text-align : right;
}
  
tbody .col0, tbody .col1 {
  text-align : left;
}

.col5, .col12 {
  max-width: 5.5em;
}

th {
  background-color: lightblue;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
  position: sticky; 
}

tr.header1 th {
  top: 0;
}

/*tr.header2 th {
  top: value comes from js file
}*/

